html {
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #e6e6e6;
    background-image: url(); */
}

.website-frame {
  margin-top: 30px;
    display: flex;
    width: 90%;
    height: 90vh;
    border: 2px solid #333;
    overflow: hidden;
}

iframe {
    flex: 1;
    border: none;
}

.url-input {
    margin-top: 20px;
}

input{
    border: black 1px solid;
    border-radius: 5px;
    background: white;
}
#url-input-1,
#url-input-2 {
    padding: 5px;
    width: 300px;
    border: 2px solid #333;
}

#load-button {
    padding: 5px 10px;
}